.outer {
    position: fixed;
    color: #E5E4E2;
    background: #22395d;
    padding: 2px 15px;
    bottom: 0;
    right: 0;
    margin: .62em;
    border-radius: 5px;
    border: 2px outset #E5E4E2;
}