.outer {
    padding: 50vh 2em;
    width: 100%;
    text-align: center;
    position: relative;

    h2 {
        position: relative;
        font-size: 3.75rem;
        line-height: 1;
        margin-bottom: .25em;
        font-weight: bold;
        width: 100%;
        z-index: 1;
    }

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 50%;
        opacity: .1;
    }

    section {
        position: relative;
        padding: 1em;
        line-height: 1.15;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
    
        div {
            max-width: 1000px;
            text-align: justify;

            p {
                font-size: .8rem;
                margin-top: .5em;
                margin-bottom: .5em;
            }
        }
    }
}

.outer[invert="false"] {
    color: #16252F;

    img {
        filter: brightness(.67) contrast(2) grayscale(.2);
    }
}

.outer[invert="true"] {
    background: #16252F;
    color: #E5E4E2;

    img {
        filter: contrast(2) grayscale(.8) brightness(2);
    }
}