.outer {
    width: 100vw;
    display: grid;
    grid-template-columns: auto auto;

    > * {
        width: 50vw;
        margin: auto 0;
        padding-left: 3em; 
        padding-right: 1em; 
    }
    
    > div:last-of-type {
        padding-left: 2em; 
        padding-right: 4em;

        > section {
            border-radius: 1em;
            background: #22395d;
            padding: 2em;
        }
    }
}

.outer[invert="false"] {
    > div:last-of-type > section {
        background: #EEEEEA;
    }
}

.outer[invert="true"] {
    background: #16252F;

    > div:last-of-type > section {
        background: #22395d;
    }
}